.slide-in {
  animation-name: slide-in;
  transition: all;
  animation-duration: 0.4s;
}
.border-green {
  box-shadow: 0px 0 13px 1px rgba(121, 246, 134, 0.677);
}
.border-red {
  box-shadow: 0px 0 13px 1px rgba(242, 94, 94, 0.843);
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
