.slide-down {
  animation-name: slide-down;
  animation-duration: 300ms;
}

/* .slide-down li {
  border-bottom-width: 2px;
  border-color: rgb(147, 147, 147);
  border-radius: 0.75rem;
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
