.slide-down {
  animation-name: slide-down;
  animation-duration: 300ms;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
